@tailwind base;
@tailwind components;
@tailwind utilities;
/* Style for dot indicators */
.carousel .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc; /* Inactive dot color */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel .dot.active {
    background-color: #007bff; /* Active dot color */
  }
  